.home {
    height: 100vh;
    width: 100vw;
    background: url(../Assets/Images/background-image.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 20em -18em;
    .slack-img {
        position: relative;
        z-index: -1;
        float: right;
        top: -8em;
    }
    .slogan {
        margin: 3em 0em;
        font-size: 1.4em;
        letter-spacing: 1px;
    }
}


